.container
{
    
    min-width: 50%;
    max-width: 80%;
    background-color: #ffffffcc;
    background-clip: padding-box;
    border-radius: 1rem;
    min-height: 250px;
    margin-right: 10%;
    margin-left: 10%;
}
