<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/webfonts.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/mk-notifications.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/navbar.css"/>

</head>
<body>
    <div id="app">
        <navigation-bar></navigation-bar>

        <!--

        
        <b-form-checkbox
            id="checkbox-1"
            v-model=""
            name="checkbox-1"
            value=""
            unchecked-value=""
            button button-variant="outline-danger"
            switch>
            <label>Texttt</label>
            <b-form-input :disabled="!status"></b-form-input>
        </b-form-checkbox>
-->
        <b-container>
                <b-card no-body>
                    <template v-slot:header>
                        <h4 class="mb-0">Search</h4>
                    </template>

                    <b-container>
                        <b-row align-h="center" class="mt-2">
                            <b-form inline>
                                <b-form-input v-model="city" placeholder="Enter city name" class="mr-3"></b-form-input>
                                <b-button variant="primary">Search</b-button>
                            </b-form>
                        </b-row>


                        <b-row class="mt-2" align-h="center">
                            <b-form inline>
                                <v-date-picker v-model="dateRange" :min-date='new Date()' is-inline :columns="$screens({ default: 1, lg: 3 })" mode="range"/>
                                <b-button>Clear dates</b-button>

                            </b-form>
                            <!--

                                <b-form-checkbox
                                    id="checkbox-date"
                                    v-model="dateRangeStatus"
                                    name="checkbox-3"
                                    value="checked"
                                    unchecked-value="unchecked"
                                    button button-variant="outline-info">
                                    Dates
                                </b-form-checkbox>
                            -->
                            
                        </b-row>
                        <b-row align-h="end">
                        </b-row>

                        <b-row align-h="center" class="mt-2">
                            <b-form inline>
                                    <b-form-checkbox
                                    class="mr-3"
                                        id="checkbox-guests"
                                        v-model="priceStatus"
                                        name="checkbox-4"
                                        value="checked"
                                        unchecked-value="unchecked"
                                        button button-variant="outline-info">
                                        Price Range
                                    </b-form-checkbox>
                                    <price-range-input v-model="priceRange" :disabled="priceStatus == 'unchecked'"></price-range-input>
                            </b-form>
                        </b-row>

                        <b-row align-h="center" class="mt-2 mb-2">

                            <b-form inline >
                                <b-form-checkbox
                                    class="mr-3"
                                    id="checkbox-rooms"
                                    v-model="numberOfRoomsStatus"
                                    name="checkbox-1"
                                    value="checked"
                                    unchecked-value="unchecked"
                                    button button-variant="outline-info">
                                    Number of Rooms
                                </b-form-checkbox>
                                
                                <b-form-spinbutton v-model="numberOfRooms" min="0" max="100" :disabled="numberOfRoomsStatus == 'unchecked'"></b-form-spinbutton>
                            </b-form>

                            <b-form inline>
                                <b-form-checkbox
                                    class="ml-5 mr-3"

                                    id="checkbox-guests"
                                    v-model="numberOfGuestsStatus"
                                    name="checkbox-2"
                                    value="checked"
                                    unchecked-value="unchecked"
                                    button button-variant="outline-info">
                                    Number of Guests
                                </b-form-checkbox>
                                <b-form-spinbutton v-model="numberOfGuests" min="0" max="100" :disabled="numberOfGuestsStatus == 'unchecked'"></b-form-spinbutton>
                            </b-form>

                        </b-row>

                    </b-container>
                </b-card>
        </b-container>
        

    


    </div>
    
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap-vue.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/mk-notifications.min.js"></script>
    <script src="js/notification.js"></script>
    <script src="js/components/navigation-bar.js"></script>
    <script src="js/components/price-range-input.js"></script>
    <script src="js/v-calendar.umd.min.js"></script>
    <script src="app/homepage.js"></script>
</body>
</html>