<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/mk-notifications.min.css">
    <link rel="stylesheet" href="css/webfonts.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <style>
        body
        {
            background-image: url("../images/loginBackground2.jpg");
            background-size: cover;
    		background-position: center;
    		position: relative;
    		background-attachment: fixed;
    		padding-top: 10%;
        }
    </style>
</head>
<body>

<div id='app'>
    
    <navigation-bar></navigation-bar>

    <b-container>
        <b-row>
            <b-col md="5" class="mx-auto">
                <b-card
                    class="mt-5"
                    no-body
                    border-variant="danger"
                    bg-variant="light"
                    >

                    <template v-slot:header>
                        <h4 align="center" class="mb-0">Log In</h4>
                    </template>

                    <b-card-body>
                        <b-form novalidate>
                            <b-form-group id="input-group-username"
                                label="Username"
                                label-for="input-username">

                                <b-form-input id="input-username"
                                    v-model="username"
                                    :state="usernameValidation"
                                    trim>
                                </b-form-input>

                                <b-form-invalid-feedback >
                                    {{usernameErrorMessage}}
                                </b-form-invalid-feedback>
                            </b-form-group>

                            <b-form-group id="input-group-password"
                                label="Password *"
                                label-for="input-password">

                                <b-form-input id="input-password"
                                    v-model="password"
                                    :state="passwordValidation"
                                    type="password"
                                    trim>
                                </b-form-input>

                                <b-form-invalid-feedback >
                                    {{passwordErrorMessage}}
                                </b-form-invalid-feedback>
                            </b-form-group>

                            <b-row align-h="center">
                                <b-button variant="primary" @click="submit" :disabled="!isDataValid">Log In</b-button>
                            </b-row>
                        </b-form>
                    </b-card-body>

                    <b-card-footer>
                        <b-row align-h="between">
                            <b-col cols="auto" align-self="center">Don't have an account?</b-col>
                            <b-col cols="auto" align-self="center">
                                <b-button href="signup.html" variant="outline-info">Sign Up</b-button>
                            </b-col>
                        </b-row>
                    </b-card-footer>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</div>


<script src="js/vue.min.js"></script>
<script src="js/bootstrap-vue.min.js"></script>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/mk-notifications.min.js"></script>
<script src="js/notification.js"></script>
<script src="js/components/navigation-bar.js"></script>
<script src="app/login.js"></script>
</body>
</html>